:root{
}

*{
    font-family: 'Roboto', sans-serif;
    color:#fff;   
}

body{
    background-color:#161616 !important;
    margin: 0;
}

li,ul,p,h1,h2,h3,h4{
    margin:0;
    padding:0;
    list-style: none;
}
a{
   
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cf000f; 
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fd2e2e; 
}
.phone{
    letter-spacing: 3px;
}

.header{
    display:flex;
    justify-content: space-between;
    padding:0 30px;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 110;
    transition: all .5s;
}

.header-category{
    display: flex;
    justify-content: space-between;
    margin:0;
    align-items: center;
    padding-left: 0;
    font-weight: 500;
}

.header-category--phone{
    font-size: 18px;
}

.header-category__child:hover{
    color:#cf000f;
}

.header-category__child{
    padding:20px;
    margin:0 10px;
    transition: all .3s;
    cursor: pointer;
}

.header-logo{
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    padding:20px;
    margin:0 10px;
}

.header-logo span{
    color:#cf000f;
    font-size: 50px;
}

.header-side{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.header-left{
    left:0;
    height: 100vh;
    width: 100px;
    flex-direction: column;
}

.header-right{
    right:18px;
    height: 100vh;
    width: 100px;
    transition: all .5s;
    opacity: 0;
}
.header-right img{
    width: 80px;
}

.header-bottom{
    bottom:0;
    width: 100%;
    height: 100px;
    transition: all .5s;
}

.header-line--left{
    width: 2px;
    background-color:rgba(255,255,255,.4);
    /* background-color:rgba(255,255,255,.4); */
   height: 160px;
}

.header-bottom-name{
    margin-top:30px;
    font-weight: 500;
    position: absolute;
    left:50px;
    top:0;
}

.header-line--bottom{
    height: 2px;
    width: 50%;
    background-color: #fff;
    position: relative;
}

.header-line--bottom__main{
    position:absolute;
    top:0;
    left:0;
    width: 20%;
    height: 100%;
    background-color: #cf000f;
    z-index: 1;
    animation: timeSlider 1s;
    transition: all 1s;
}

@keyframes timeSlider{
    from{
        width: 0;
    }
}
@keyframes changeOpacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.header-line-container{
   
}

.header-line-fake{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:-50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.header-media{
    padding-left: 0;
    margin:20px 0;
}

.header-media-mobile{
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.header-media-mobile__line{
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,.4);
}

.header-media__item{
    padding:10px;
}

.header-media__item:hover i{
    color:#cf000f;
}

.header-media__item i{
    transition: all .3s;
    font-size: 26px;
}

.header-category__child.active {
    color:#cf000f;
}

.header-mobile-navbar{
    display: none;
}

.header-mobile-navbar i{
    font-size: 30px;
    cursor: pointer;
}

.header-mobile-navbar:hover .header-mobile-navbar-icon{
    color:#cf000f;
}

.overlay-fullscreen{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    display: none;
}

.header-mobile-navbar-main{
    position: fixed;
    top:0;
    right:0;
    width: 50vw;
    height: 100vh;
    background-color: #161616;
    transition: all 1s;
    transform: translateX(100%);
    overflow: auto;
}

.header-mobile-close:hover i{
    color:#cf000f;
}

.header-mobile-navbar-main__heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0;
}

.header-mobile-interact-animation{
    transform: translateX(0);
}

.header-mobile-navbar__item{
    transform: translateY(100px);
    opacity: 0;
}

.header-mobile-navbar__item:nth-child(2){
    transition-delay: 100ms;
}

.header-mobile-navbar__item:nth-child(3){
    transition-delay: 300ms;
}

.header-mobile-navbar__item:nth-child(4){
    transition-delay: 500ms;
}

.header-mobile-navbar__item:nth-child(5){
    transition-delay: 700ms;
}


.header-mobile-interact-animation .header-mobile-navbar__item{
    transform: translateY(0);
    opacity: 1;
}

.header-mobile-title{
    font-size: 30px;   
    margin-left: 20px;
}

.header-mobile-close{
    margin-right:20px;
}

/* MAIN */
.main{  
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.main-child{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s cubic-bezier(.55,.085,0,.99); 
    transform: translateX(100%);  
    opacity: 0;
    overflow-y: auto;
}

.main-child-container{
    padding:100px 0;
    position: relative;
    min-height: 100%;
    overflow: hidden
}

.main-child-background-container{
    overflow: hidden;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: 100%; */
    /* height: 100%; */
}
.main-child__background{
    /* transform: scale(1.2); */
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    object-fit: cover;
    transform: scale(2);
    transition-delay: 1s;
    will-change: scroll-position;
}

.active .main-child__background{
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 4s;
    transform: scale(1);
}

.main-child.active{
    transform: translateX(0%);
    opacity: 1;
}

.main-child.no-active{
    transform: translateX(-100%);
}

.main-title{
    font-size:50px;
    font-weight: 400;
    transform: translateX(100px);
}

.main-content{
    /* width:450px; */
    color: #ffffff99;
}

/* Animation home */
.home-main-title,.home-sub-title,.home-description{
    opacity: 0;
    transition: all 2s;
}

.active .home-sub-title, .active .home-main-title, .active .home-description{
    transform: translateY(0%);
    opacity: 1;
}
/* HOME */
.home{
    z-index: 5;
}

.home-main-intro{
    padding-top:100px
}

.home-sub-title{
    font-weight: 500;
    transform: translateX(-200px);
    margin:0;
}

.home-main-title{
    display: inline-block;
    font-style: italic;
    color:#fff;
    font-weight: 700;
    font-size:80px;
    margin:0 0 40px;
    transform: translateY(100px);
}

.home-main-title span{
    color:red;
    font-size: 100px;
}

.home-description{
    transform: translateY(100px);
    color:#FFFFFF99;
}
/* Animation about */
.about-main-content,.about-child-skill,.main-title{
    opacity: 0;
    transition: all 2s;
}

.active .about-main-content, .active .about-child-skill,.active .main-title{
    transform: translateY(0%);
    opacity: 1;
}
/* About */
.about{
    z-index: 4;
}
.about-child{
    padding:40px 20px;
    border-top: 1px solid rgba(255,255,255,.4);
    border-bottom: 1px solid rgba(255,255,255,.4);
    border-left: 1px solid rgba(255,255,255,.4);
    width: 340px;
    margin-bottom: 10px;
}

.about-main-content,.about-child-skill{
    transform: translateY(100px);
}

.about-child-years{
    font-size: 200px;
    text-align: center;
}
.about-child-years span{
    color:#cf000f;
}

.about-child-details{
    display: flex;
    align-items: flex-end;
    margin:0 20px;
}

.about-child-left-line{
    width: 80px;
    height: 1px;
    background-color:rgba(255,255,255,.4);
}

.about-child-left__content{
    text-align: end;
    margin:20px 0 0 0;
    font-size: 20px;
}

.about-child--intro{
    overflow: hidden;
}

.about-child--intro--title{
    margin-bottom: 40px;
    transform: translateX(100px);
}

.about-child-skill{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-child-skill__item{

}

.about-child-skill__item p{
    margin:16px 0;
}

.about-skill-line{
    background-color:white;
    position:relative;
    width: 90%;
    height: 6px;
    border-radius: 10px;
    overflow: hidden;
}

.about-skill-line-main{
    position: absolute;
    top:0;
    left:0;
    width: 70%;
    height: 100%;
    background-color: #cf000f;
    border-radius: 10px;
}
.about-skill-line-main.javascript{
    width: 70%;
}
.about-skill-line-main.reactjs{
    width: 50%;
}
.about-skill-line-main.nodejs{
    width: 50%;
}
.about-skill-line-main.sql{
    width: 60%;
}

.active .about-skill-line-main{
    animation: timeSlider 3s;
}
/* Animation */
/* Project */
.projects{

}

.projects-description a{
    color: #cf000f;
    text-decoration: none;
}

.projects-main-title{
    display: inline-block;
    font-style: italic;
    color:#fff;
    font-weight: 700;
    font-size:80px;
    margin:0 0 40px;
    transform: translateX(100px);
}
.projects-image{
    width: 100%;
}

/* Animation education */

.education-item,.main-title{
    opacity: 0;
    transition: all 2s;
}
    
.active .education-item{
    transform: translateY(0%);
    opacity: 1;
}

/* Education */
.education-item{
    display:flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6); 
    transform: translateY(100px);
    padding:8px 0;
}

.education-item:last-child{
    border-bottom: none;
}

.education-item img{
    width: 100px;
}

.education-years{
    color:rgba(255,255,255,.6);
    margin-bottom: 0;
}

.education-position{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.education-detail{
    color:rgba(255,255,255,.6);
    /* padding-bottom:10px; */
}
/* Animation contact */
.contact-content,.contact-city,.phone,.contact-right-title,.contact-form,.contact-button{
    opacity: 0;
    transition: all .5s;
    transform: translateY(100px);
}

.contact-content--message{
    transition-delay: 100ms;
}

.contact-city{
    transition-delay: 400ms;
}

.phone{
    transition-delay: 700ms;
}

.contact-content--email{
    transition-delay: 1000ms;
}

.contact-right-title{
    transition-delay: 100ms;
}

.contact-form{
    transition-delay: 400ms;
}

.contact-button{
    transition-delay: 700ms;
}

.active .contact-content, .active .contact-city, .active .phone, .active .contact-button,.active .contact-form,.active .contact-right-title{
    transform: translateY(0%);
    opacity: 1;
}
/* Contact */
.contact{
}

.contact-left{
    overflow: hidden;
}

.contact-left h2{
    margin:20px 0;
}

.contact-content{
    margin: 30px 0;
    color: rgba(255, 255, 255, 0.6);
}

.contact-right h2{
    margin-bottom: 30px;
}
.contact-form{
    display: flex;
    flex-direction: column;
}

.contact-form input,textarea{
    padding:10px 20px;
    background-color:transparent;
    outline: none;
    border:none;
    border-bottom:1px solid rgba(255,255,255,.6);
    margin-bottom: 20px;
}

.contact-button{
    background-color:#cf000f;
    border:none;
    border:2px solid #cf000f;
    padding:15px 30px;
    margin-top:20px;
}

.contact-button:hover{
    background-color:transparent;
    border:2px solid #fff;
}

/* Responsive */
@media only screen and (max-width:992px){
    .education-item img{
        margin-bottom: 10px;
    }
    .education-detail{
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        padding-bottom:10px;
    }
    .education-item{
        border:none;
    }
}
@media only screen and (max-width: 830px){
    li.header-category__child{
        display: none;
    }
    .header-right{
        display: none;
    }
    .header-mobile-navbar{
        display: block;
    }
    .header-bottom-name{
        display: none;
    }
    .header-left{
        width: 50px;
    }
}
@media only screen and (max-width: 525px){
    .header{
        padding:0 30px 0 0;
    }
    .header-left{
        display: none;
    }
}

